.ManualDetailsPage {
    min-height: 100%;
}

.commentTitle {
    margin-top: 20px;
}

.recommendations {
    margin-top: 20px; // отступ сверху
    flex-wrap: nowrap; // не переносить если не влезло в строку
    overflow-y: hidden; // скрыть скролл по вертикали
    overflow-x: auto; // если не влезло, показывать скроллл по горизонтале
}
