.EndpointItem {
    background: var(--bg-redesigned);

    &:hover {
        cursor: pointer;
        background: var(--light-bg-redesigned);
    }

    &.BIG {
        position: relative;
        width: 100%;
        padding: 24px;


        &::after {
            content: ""; /* Обязательное свойство для псевдоэлементов */
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px; /* Высота линии */
            background-color: var(--light-bg-redesigned); /* Цвет линии */
        }
    }

    &.SMALL {
        position: relative;
        width: 220px;
        height: 150px;
        border: 2px solid var(--light-bg-redesigned);
    }
}
