.dark {
    --bg-color: #191992;
    --inverted-bg-color: #b0b0b9;
    --primary-color: #239123;
    --secondary-color: #11e311;
    --inverted-primary-color: #0831a2;
    --inverted-secondary-color: #6681cb;
}
