.app_dark_theme {
    --bg-color: #191992;
    --inverted-bg-color: #b0b0b9;
    --primary-color: #19a419;
    --secondary-color: #0f0;
    --inverted-primary-color: #0831a2;
    --inverted-secondary-color: #6681cb;

    // redesigned
    --dark-bg-redesigned: #090f11;
    --bg-redesigned: #0c1214;
    --light-bg-redesigned: #151c1f;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #5ed3f3;

    // skeleton
    --skeleton-color: #0138d7;
    --skeleton-shadow: #3a64e1;

    // Code
    --code-bg: #2a2ab0;

    // card
    --card-bg: #1e1eb4;

    // listBox
    --listbox-bg: #1e1eb4;
}
