:root {
    --bg-color: #fff;
    --inverted-bg-color: #191992;
    --primary-color: #6681cb;
    --secondary-color: #4660e0;
    --inverted-primary-color: #0f0;
    --inverted-secondary-color: #19a419;

    // redesigned
    --dark-bg-redesigned: #fff;
    --bg-redesigned: #eff5f6;
    --light-bg-redesigned: #e2eef1;
    --text-redesigned: #141c1f;
    --hint-redesigned: #adbcc0;
    --cancel-redesigned: #f77;
    --save-redesigned: #62de85;
    --icon-redesigned: #5ed3f3;
    --accent-redesigned: #00c8ff;

    // skeleton
    --skeleton-color: #807d7d;
    --skeleton-shadow: #181717;

    // Code
    --code-bg: #fff;

    // card
    --card-bg: #d5d1d1;

    // listBox
    --listbox-bg: #d5d1d1;
}
