:root {
    --bg-color: #fff;
    --inverted-bg-color: #191992;
    --primary-color: #6681cb;
    --secondary-color: #4660e0;
    --inverted-primary-color: #0f0;
    --inverted-secondary-color: #19a419;

    // skeleton
    --skeleton-color: #807d7d;
    --skeleton-shadow: #181717;

    // Code
    --code-bg: #fff;
}
