:root {
    --bg-color: #b0b0b9;
    --inverted-bg-color: #191992;
    --primary-color: #0831a2;
    --secondary-color: #4660e0;
    --inverted-primary-color: #075e07;
    --inverted-secondary-color: #0da40d;
}
