.app_purple_theme {
    --bg-color: #f8f4fb;
    --inverted-bg-color: #7e5a90;
    --primary-color: #4a1663;
    --secondary-color: #7e5a90;
    --inverted-primary-color: #efe6f4;
    --inverted-secondary-color: #fff2ff;

    // skeleton
    --skeleton-color: #cccbcb;
    --skeleton-shadow: #181717;
}
