.app_purple_theme {
    --bg-color: #f8f4fb;
    --inverted-bg-color: #7e5a90;
    --primary-color: #4a1663;
    --secondary-color: #7e5a90;
    --inverted-primary-color: #efe6f4;
    --inverted-secondary-color: #fff2ff;

    // redesigned
    --dark-bg-redesigned: #fff3d6;
    --bg-redesigned: #f0c048;
    --light-bg-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #b8b2a2;
    --cancel-redesigned: #ff5e5e;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;

    // skeleton
    --skeleton-color: #cccbcb;
    --skeleton-shadow: #181717;

    // Code
    --code-bg: #fff;

    // card
    --card-bg: #bebbc0;

    // listBox
    --listbox-bg: #bebbc0;
}
