.MainLayout {
    min-height: 100%;
    display: grid;
    grid-template-areas:
        "sidebar header header"
        "sidebar content rightbar";
    grid-template-columns: 220px 1fr auto;
}

.header {
    height: 50px;
    width: 100%;
}

.headerMobile {
    width: 100%;
    max-width: none; // Удаляет максимальную ширину, если она была установлена
    padding: 0; // Удаляет отступы, если они были установлены
}

.gridMobile {
    grid-template-areas:
        "header"
        "content"
        "rightbar";
    grid-template-columns: 1fr;
}

.sidebar {
    grid-area: sidebar;

    // padding: 32px;
    max-width: 284px;
}

.content {
    grid-area: content;
    max-width: 1200px;
    justify-self: center;
    padding: 32px;
    width: 100%;
}

.rightbar {
    grid-area: rightbar;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rightbar,
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.toolbar {
    height: 100%;
    width: 100%;
}
