.Navbar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.links,
.actions {
    margin-left: auto;
}

.NavbarRedesigned {
    padding: 16px;
}

.mainLink {
    margin-right: 15px;
}

.appName {
    width: var(--sidebar-width);
    margin-right: 15px;
}
