.EndpointMenu {
    position: absolute; /* Это делает .element абсолютно позиционированным внутри .container */
    top: 0; /* Выравнивание элемента по верхнему краю контейнера */
    right: 0; /* Выравнивание элемента по правому краю контейнера */
}

.trigger {
    margin: 4px;
    color: var(--hint-redesigned);

    &:hover {
        color: var(--text-redesigned);
    }
}
