.StickyLayout {
    display: grid;
    grid-template-areas: "left content right";
    grid-template-columns: min-content 1fr min-content;
}

.content {
    grid-area: content;

    // max-width: 1200px;
    justify-self: center;
    padding: 0 16px;
    width: 100%;
    height: 100%;
}

.right {
    grid-area: right;
    justify-self: end;
    height: 100%;
}

.left {
    grid-area: left;
    position: sticky;
    top: 0;
    height: 100%;
}
